body{
  font-family: Arial, sans-serif;
}
header{
  text-align: center;
  font-size: 18px;
  background-image: url('2026-04-23_20.38.31.png');
  background-position: center;
  padding: 10px 0;
}
nav{
  background-color: #646464;
  padding: 4px 0;
}
nav a{
  color: #ffffff;
  text-decoration: none;
  padding: 12px;
}
footer{
  background-color: #C3C3C3;
  font-size: 16px;
}
footer p{
    text-align: center;
}
